/* You can add global styles to this file, and also import other style files */
.form-label{
    font-weight: bold ;
}

input.invalid{
    border-color: red;
}
.btn-info.disabled, .btn-info:disabled {
    color: white;

}

.table tbody {
  background-color: #DDE6EE;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #7799BB !important;
    color:white
  }